<h1>Dynamic form</h1>
<form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()">
  <div *ngFor="let control of formStructure">
    <ng-container *ngIf="control.visible === true || control.visible(dynamicForm.value)">

      <label>{{control.label}}</label>
    <input [type]="control.type" [formControlName]="control.name">
    <span *ngIf="dynamicForm.get(control.name)?.invalid && dynamicForm.get(control.name)?.touched">
      {{getErrorMessage(control)}}
    </span>

    </ng-container>

  </div>
  <button type="submit">Submit</button>
</form>
